<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="content()" class="navbar-item">
        <a href="#" onclick="window.history.back()" class="arrow"><img src="/img/back_arrow.png" alt="Back" class="back-arrow"></a>
        <div class="logo">
            <div class="logo-img-text">
                <a href="/">
                    <img  src="/img/GTSShopLogoCorBlack.png" alt="logo">
                </a>
            </div>
<!--            <div class="search-item">-->
<!--                <img src="/img/search.png" onclick="search()" alt="search-icon">-->
<!--                <form id="search-input-form" th:action="@{/}" method="get">-->
<!--                    <input onkeypress="handleKeyPress(event)" oninput="searchLineUpdate()" type="text" id="search-line" name="searchLine" placeholder="Search...">-->
<!--                </form>-->
<!--            </div>-->
        </div>
        <div class="top-button">
            <th:block sec:authorize="isAuthenticated()">
                <button class="cart-button mobile-button">
                    <a href="/">
                        <img src="/img/home.svg" alt="cart-button">
                    </a>
                </button>
            </th:block>

            <th:block sec:authorize="hasAnyAuthority('ADMIN')">
                <button class="cart-button">
                    <a th:href="@{/admin/order/orders-panel}"> <img src="/img/cart.svg" alt="cart-button"></a>
                </button>
                <div class="dropdown">
                    <ul class="dropdown__items">
                        <li><img src="/img/person-plus.svg" alt="Setting" class="dropdown-icon"><a
                                th:href="@{/account/admin/registration}">Create user</a></li>
                        <li><img src="/img/logout.svg" alt="LogOut" class="dropdown-icon"><a href="/account/logout">LogOut</a>
                        </li>
                    </ul>
                </div>
            </th:block>

            <th:block sec:authorize="hasAnyAuthority('CUSTOMER')">
                <button class="cart-button">
                    <a th:href="@{/order/basket}"> <img src="/img/cart.svg" alt="cart-button"></a>
                </button>
                <div class="dropdown">
                    <ul class="dropdown__items">
                        <li><img src="/img/box-seam.svg" alt="Setting" class="dropdown-icon"><a href="/order/orders-history">Orders</a></li>
                        <li><img src="/img/logout.svg" alt="LogOut" class="dropdown-icon"><a href="/account/logout">LogOut</a>
                        </li>
                    </ul>
                </div>
            </th:block>


            <th:block sec:authorize="isAuthenticated()">
                <button class="like-button cart-button">
                    <img src="/img/account.svg" alt="like-button">
                </button>
            </th:block>

        </div>

        <th:block sec:authorize="!isAuthenticated()">
            <div class="sign-up">
                <button class="login"><a href="/account/login-page">Sign In</a></button>
            </div>
        </th:block>
    </div>
</body>
</html>







