<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content(entity)">
    <div class="main-container">
        <div class="sign-in-container">
            <h2>Sign in to your account</h2>
            <div th:if="${param.error}">
                <div class="error-msg" style="color:red" >
                    <i class="fa fa-times-circle"></i>
                    Check whether your email or password is correct
                </div>
            </div>
            <form th:action="@{/authenticate}" th:object="${entity}" method="post">
                <div class="input-container">
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" placeholder="Enter your email" class="input-field">
                </div>
                <div class="input-container">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter your password" class="input-field">
                    <p class="forgot-password"><a href="/account/request-recover-password-page">Forgot password?</a></p>
                </div>
                <button class="sign-in-btn">Sign In</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
